{% load static %}
<link rel="stylesheet" href="{% static 'css/instructor/header_instructor.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<header class="header">
    <div class="header-container">
        <!-- Logo -->
        <div class="logo">
            <img src="{% static 'images/logo00.png' %}" alt="Logo">
        </div>

        <!-- Title -->
        <div class="title">
            <h1>Welcome To 
                <span class="highlight">I </span>
                <span class="highlight2">say</span>
                <span class="highlight3">ROAR!</span>
            </h1>
        </div>
    </div>
</header>
