{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}I say ROAR{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_guest.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    {% block extra_css %}{% endblock %}

</head>
<body>
    <!-- Navbar -->
    {% if user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'navbar_guest.html' %}
    {% endif %}

    <!-- Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
     <!-- <footer>
        <p>&copy; 2024 I say ROAR. All rights reserved.</p>
    </footer>-->
</body>
</html>
