{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar_guest.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

rel="stylesheet">

<nav class="navbar">

    <div class="container">

        <!-- Logo -->
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </a>
        </div>

        <!-- Navigation Links -->
        <ul class="nav-links">
            <!-- หน้าแรก: สีส้ม -->
            <li><a href="{% url 'home' %}"class="{% if request.resolver_match.url_name == 'home' %}active-orange{% endif %}">หน้าแรก</a></li>
        
            <!-- คอร์สเรียนทั้งหมด: สีฟ้า -->
            <li><a href="{% url 'all_courses' %}" class="{% if request.resolver_match.url_name == 'all_courses' or request.resolver_match.url_name == 'course_details' or request.resolver_match.url_name == 'my_courses' or request.resolver_match.url_name == 'booking_my_courses' or request.resolver_match.url_name == 'video_lesson_view'%}active-blue{% endif %}">คอร์สเรียนทั้งหมด</a></li>
        
            <!-- ครูของเรา: สีส้ม -->
            <li><a href="{% url 'instructor_list' %}" class="{% if request.resolver_match.url_name == 'instructor_list' %}active-orange{% endif %}">บุคลากร</a></li>
        
            <!-- ติดต่อเรา: สีฟ้า -->
            <li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active-blue{% endif %}">ติดต่อเรา</a></li>
        </ul>

        <form action="{% url 'all_courses' %}" method="GET" class="search-form">
            <input type="text" name="q" placeholder="ค้นหาคอร์ส..." value="{{ request.GET.q }}">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>

        <!-- Profile Icon -->
        <div class="profile-icon">
            <a href="{% url 'profile' %}" class="profile-link">
                <div class="profile-img-container">
                    <img src="{{ user.profile.get_profile_picture }}" alt="Profile" class="profile-img">
                </div>
                <span class="profile-username">{{ user.username }}</span> 
            </a>
        </div>
    </div>
</nav>
