
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>โปรไฟล์ผู้ใช้</title>
</head>
<body>
    
    <div class="profile-container">

        <a href="{% url 'home' %}" class="btn btn-back">
            <i class="fas fa-arrow-left"></i> กลับไปหน้าหลัก
        </a>

        <h1>ข้อมูลผู้ใช้งาน</h1>
        <div class="profile-card">
            <div class="profile-img-container">
                <img src="{{ user.profile.get_profile_picture }}" alt="Profile" class="profile-img">
            </div>
            <h2>{{ user.username }}</h2>
            <div class="profile-actions">
                <a href="{% url 'update_profile'%}" class="btn btn-pink">
                    <i class="fas fa-user-edit"></i> แก้ไขข้อมูลส่วนตัว
                </a>
                <a href="{% url 'booking_history' %}" class="btn btn-blue">
                    <i class="fas fa-calendar-alt"></i> ประวัติการจองคอร์สเรียน
                </a>
                <a href="{% url 'logout' %}" class="btn btn-lightblue">
                    <i class="fas fa-sign-out-alt"></i> ออกจากระบบ
                </a>
            </div>
        </div>
    </div>
</body>
</html>
