{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <title>กู้คืนรหัสผ่าน</title>
</head>
<body>
    <div class="container">
        
        <div class="card">

            <h2 class="title">กู้คืนรหัสผ่าน</h2>
            <div class="logo">
                <img src="{% static 'images/bb.png' %}" alt="Banner">
            </div>
            <p>โปรดกรอกอีเมลที่ลงทะเบียนเพื่อกู้คืนรหัสผ่าน</p>
            <p>ระบบจะส่งรหัส <b>PIN 6 หลัก</b> ไปยังอีเมลของคุณ</p>
            
            <form action="{% url 'reset_password_request' %}" method="POST">
                {% csrf_token %}
                <label>กรุณากรอกอีเมล</label>
                <input type="email" name="email" required>
                <button type="submit">ยืนยัน</button>
            </form>
        </div>
    </div>
</body>
</html>
